@using System.Diagnostics

<button class="icon-button @Class"
    style="@Style">
    <Icon Value="@Icon"></Icon>
</button>

@code{
    public Icons Icon => IsChecked ? Icons.check_box : Icons.check_box_outline_blank;
    [Parameter] public bool IsChecked { get; set; }
}